<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Main page</title>
	</head>
	<body>
		<main>
			{% if user.is_authenticated %}
				Hi {{ user.username }}!
				<p><a href="{% url 'logout' %}">logout</a></p>
			{% else %}
				<p>You are not logged in</p>
				<a href="{% url 'login' %}">login</a>
			{% endif %}
		</main>
	</body>
</html>
