/* CSS for the menu */

.blur {
	background-image: url("/static/images/blur.jpg");
}

.boxblur {
	width: auto;
	height: auto;
	padding: 15px;
	z-index:  initial;
	border: 2px solid rgba(252,106,189,0.9);
	box-shadow: 10px 10px 4px #888888;
	background: url("/static/images/blur.jpg") no-repeat fixed;
}

.boxcontainer {
	margin: 0 auto 0 auto;
	width: 1200px;
}

.title_box {
	position: relative;
	width: auto;
	height: auto;
	font-family: 'Exo', sans-serif;
	font-size: 40px;
	font-weight: 200;
	color: #fff;
}

.title_box span {
	color: #FC6ABD;
}

.menu-row {
	position: relative;
	height: 354px;
	width: 100%;
	left: 3px;
	padding: 1px;
	margin-top: 2px;
}

.series-row {
	border-width: 2px;
	border-style: solid;
	width: 100%;
	left: -3px;
	top: -5px;
	margin: 0px 0px 0px 0px;
	background: rgba(0,0,0,0.62);
	color: #fff;
	display: none;
}

.menu-1 {
	border-color: #FFFFFF;
}

.menu-2 {
	border-color: #FED9EE;
}

.menu-3 {
	border-color: #FDB4DE;
}

.menu-4 {
	border-color: #FC8FCD;
}

.menu-5 {
	border-color: #FC6ABD;
}

.arrow-box {
	width: 80px;
	height: 12px;
	display: none;
}

.second-box {
	left: 700px;
}

.arrow {
	position: relative;
	top: -4px;
	margin: 0px 0px 0px 0px;
	border-left: 40px solid transparent;
	border-right: 40px solid transparent;
	border-bottom: 12px solid white;
}

.arrow-1 {
	left: 73px;
}

.arrow-2 {
	left: 308px;
	border-bottom: 12px solid #FED9EE;
}

.arrow-3 {
	left: 543px;
	border-bottom: 12px solid #FDB4DE;
}

.arrow-4 {
	left: 778px;
	border-bottom: 12px solid #FC8FCD;
}

.arrow-5 {
	left: 1013px;
	border-bottom: 12px solid #FC6ABD;
}

.menu-poster {
	position: relative;
	/*border: 2px solid #FC6ABD;*/
	border: 1px solid #FC6ABD;
	height: 350px;
	width: 226px;
	cursor: pointer;
}

.poster-img {
	height: 350px;
	width: 226px;
}

.poster-1 {
	position: absolute;
	left: -4px;
	top: 0px;
}

.poster-2 {
	position: absolute;
	/*left: 603px;*/
	left: 231px;
	top: 0px;
}

.poster-3 {
	position: absolute;
	/*left: 837px;*/
	left: 466px;
	top: 0px;
}

.poster-4 {
	position: absolute;
	/*left: 1071px;*/
	left: 701px;
	top: 0px;
}

.poster-5 {
	position: absolute;
	left: 936px;
	/*left: 1305px;*/
	top: 0px;
}

.menu-title {
	/*font-size: 35px;*/
	font-size: 29px;
	left: 10px;
	top: 10px;
	width: 464px;
}

.menu-img {
	position: absolute;
	/*
		(464x261) - Two poster width
		(633x356) - Full height
	*/
	width: 620px;
	height: 356px;
	right: 0px;
	top: 0px;
	/*right: 10px;
	top: 10px;*/
}

.menu-content {
	position: absolute;
	left: 12px;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #FC6ABD;
}

.menu-content span {
	color: #fff;
}

.play-box {
	position: absolute;
	width: 125px;
	height: 27px;
	top: 58px;
	left: 407px;
	color: #FC6ABD;
	border: 1px solid #FC6ABD;
	border-radius: 5px;
}

.play-box i {
	position: absolute;
	font-size: 30px;
	top: 1px;
	/*left: 2px;*/
	left: 8px;
	color: inherit;
}

.rating-box {
	position: absolute;
	top: 93px;
	left: 407px;
	color: #FC6ABD;
	font-family: 'Exo', sans-serif;
	font-size: 12px;
	font-weight: 400;
}

.rating-box span {
	color: #fff;
	font-weight: 500;
}

.play-box p {
	position: absolute;
	top: -22px;
	left: 42px;
	color: inherit;
	font-family: 'Exo', sans-serif;
	font-size: 22px;
	font-weight: 700;
}

.play-box:hover {
	color: #fff;
	border: 1px solid #fff;
}

.menu-extern img {
	margin-left: 5px;
	margin-bottom: -2px;
}

.menu-extern a {
	color: #fff;
	text-decoration: none;
}

.menu-extern a:hover {
	text-decoration: underline;
}

.menu-aired {
	top: 70px;
}

.menu-eps {
	top: 50px;
}

.menu-genre {
	top: 90px;
}

.menu-extern {
	top: 110px;
}

.menu-desc {
	padding-right: 30px;
	font-size: 13px;
	font-weight: 200;
	top: 133px;
	width: 492px;
	height: 204px;
	overflow-y: auto;
	overflow-x: hidden;
	color: #fff;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background: rgba(120,120,120,0.5);
	border-radius: 6px;
}

::-webkit-scrollbar-track {
	background: rgba(0,0,0,0);
}

::-moz-scrollbar-track {
	background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(155,155,155,0.5);
}

::-moz-scrollbar-corner {
	background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-corner {
	background-color: rgba(0,0,0,0);
}
