{% extends 'registration/header.html' %}
{% block content %}
	<body oncontextmenu="return false">
		<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Ayashii<span>Info</span></div>
		</div>
		<br>
		<form name="login" method="post" id="loginform">
			{% csrf_token %}
			<div class="login">
				<input spellcheck="false" type="text" placeholder="&#xf2be; username" name="username" id="id_username" autofocus required><br>
				<input type="password" placeholder="&#xf13e;  password" name="password" id="id_password" required><br>
				<input type="submit" value="Login" name="login"/><br>
				{% if form.errors %}
				<div class="error" id="error">
					<div><i class="fa fa-exclamation-triangle"></i> Invalid credentials</div>
				</div>
				{% endif %}
			</div>
		</form>
	</body>
{% endblock %}
