{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Ayashii</title>
  		<meta charset="UTF-8">
		<meta name="description" content="The most comfortable corner on the internet.">
		<meta name="keywords" content="ayashii, info">
		<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'menu/css/menu.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'menu/css/style.css' %}"/>
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/fontawesome.css">
		<link href="https://fonts.googleapis.com/css?family=Exo:100,200,400|Source+Sans+Pro:300,400,700" rel="stylesheet"/>
		<script type="text/javascript" src="{% static 'menu/js/libs/jquery-3.2.1.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'menu/js/menu.js' %}"></script>
	</head>
	{% block content %}
	{% endblock %}
</html>
