{% extends 'menu/header.html' %}
{% block content %}
	<body>
		<div class="body"></div>
		<div class="grad"></div>
		<br>
		<div class="boxcontainer">
			<div class="title_box clickable" onclick="home();">
				Ayashii<span>Info</span>
			</div>
			<div class="boxblur">
				{# Series_rows is a list of lists. #}
				{# Row is a list of up to five tuples. #}
				{# Each tuple has a: series object, studio string, genre string, and list of (url -> favicon) #}
				{% for row in series_rows %}
					{# First all series posters are displayed#}
					<div class="menu-row">
						{% for series, _, _, _ in row %}
							<div class="menu-poster poster-{{ forloop.counter }}">
								<img class="poster-img" src="{{ series.poster_img }}" id="p{{ series.id }}">
							</div>
						{% endfor %}
					</div>
					{# Next all arrows are displayed #}
					{% for series, _, _, _ in row %}
						<div class="arrow-box" id="a{{ series.id }}">
							<div class="arrow arrow-{{ forloop.counter }}"></div>
						</div>
					{% endfor %}
					{# Finally, we show the information, preview gif, and links for the series #}
					{% for series, studio_str, genre_str, links in row %}
						<div class="menu-row series-row menu-{{ forloop.counter }}" id="m{{ series.id }}">
							<div class="title_box menu-title">{{ series.header_one }}<span>{{ series.header_two }}</span></div>
							<img class="menu-img" src="{{ series.preview_gif }}" id="g{{ series.id }}">
							<a href="series/{{ series.id }}">
								<div class="play-box">
									<i class="fa fa-play-circle-o fa-2x" aria-hidden="true"></i>
									<p>PLAY</p>
								</div>
							</a>
							<div class="rating-box"> User rating: <span>{{ series.user_rating }}/10.00</span></div>
							<div class="menu-content menu-aired">Aired: <span>{{ series.aired }}</span>&nbsp;&nbsp;&nbsp;&nbsp; Studio: <span>{{ studio_str }}</span></div>
							<div class="menu-content menu-eps">Episodes: <span>{{ series.current_episodes }}/{{ series.total_episodes }}</span>&nbsp;&nbsp;&nbsp;&nbsp; Runtime: <span>{{ series.runtime }}</span></div>
							<div class="menu-content menu-genre">Genres: <span>{{ genre_str }}</span></div>
							<div class="menu-content menu-extern">External links:
								{% for extern_url, extern_site, favicon in links %}
									<a href="{{ extern_url }}">
									<img src="{{ favicon }}">
									{{ extern_site }} Page
									</a>
								{% endfor %}
							</div>
							<div class="menu-content menu-desc">
								{{ series.description }}
							</div>
						</div>
					{% endfor %}
				{% endfor %}
            </div>
        </div>
	</body>
{% endblock %}
